<launch>

 <!-- Pubblica le trasformazioni per la simulazione -->

    <node pkg="tf2_ros" type="static_transform_publisher" name="tip" args="0.186, -0.2560, 0.0650, 0.0160   -0.4669   -0.0470   -0.8829 panda_link8 tool_extremity" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="object0" args="-0.182, 0.557, 0.616, -0.418, 0.590, 0.679, -0.124 panda_link0 object0" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="object1" args="-0.0, 0.7932, 0.4959, -0.4302148, 0.5565271, 0.7103261, -0.0250935 panda_link0 object1" />

</launch>